* {margin:0; padding:0;}

header {font-size:100px; text-align:center; background:url('http://www.zappos.com/imgs/bg.png') repeat left top;}
header h1 {position:relative; width:900px; margin:0 auto; padding-top:50px;}
header span {display:block; float:left;}
header .core-values {position:relative; float:right; margin:-143px 4px 0 0; font-size:150px; letter-spacing:-9px; font-family:'Lobster'; color:#7499C6;}
header .zappos {position:relative; padding:0 0 0 70px; font-family:'Cabin', helvetica, sans-serif; font-size:221px; letter-spacing:-10px; color:#333; font-weight:400;}
#sharingIsCaring {display:none; margin:0 auto; margin-top:300px; width:400px; height:150px; border:2px solid #333; -webkit-border-radius:8px; background:rgba(0,0,0,.3);}
#sharingIsCaring span {font-size:12px;}
#sharingIsCaring #fb {margin:33px 10px 0 45px;}
#sharingIsCaring #tw {margin:33px 0 0;}
#sharingIsCaring p {width:163px; float:right; margin:28px 45px 0 0; font-family:'Lobster'; font-size:50px; text-align:left; color:#333; letter-spacing:2px;}
.zappos span {position:absolute; top:10px; left:0; text-shadow:1px -1px 0px #fff;}

li {position:relative; clear:both; height:500px; list-style:none; text-align:center; text-shadow:2px 2px 0px rgba(0,0,0,.5);}
.cvNumber {position:relative; left:44%; top:-33px; z-index:2; display:block; height:159px; width:150px; padding:21px 0 0; font-size:94px; text-align:center; text-shadow:0px -3px 1px rgba(255,255,255, .4); color:rgba(0,0,0, .7); background:url('/shield.png') no-repeat left top; text-decoration:none;}

.coreValue {position:absolute; top:170px; bottom:0; z-index:2; font-family:'Lobster'; font-size:90px;}
.valueMeta {position:absolute; top:170px; bottom:0; z-index:2; font-family:'Cabin'; font-size:40px;}

#coreValue-1 {background:#A4B344; color:#ddd;}

/*ODDS*/

#coreValue-1 .coreValue, 
#coreValue-3 .coreValue, 
#coreValue-5 .coreValue, 
#coreValue-7 .coreValue, 
#coreValue-9 .coreValue
{left:3%; right:50%; text-align:left;}

#coreValue-3 .coreValue {font-size:80px;}

#coreValue-1 .valueMeta, 
#coreValue-3 .valueMeta, 
#coreValue-5 .valueMeta, 
#coreValue-7 .valueMeta, 
#coreValue-9 .valueMeta
{left:50%; right:3%; text-align:left; color:rgba(0,0,0,.6); text-shadow:1px 1px 1px rgba(255,255,255,.6);}

#coreValue-1 .description, 
#coreValue-3 .description, 
#coreValue-5 .description, 
#coreValue-7 .description, 
#coreValue-9 .description
{position:absolute; left:0; top:0; right:0; bottom:0; z-index:1; overflow:hidden; font-size:49px; text-shadow:none; color:rgba(255,255,255,.1); text-align:justify;}

/*EVENS*/
#coreValue-2 .coreValue, 
#coreValue-4 .coreValue, 
#coreValue-6 .coreValue, 
#coreValue-8 .coreValue, 
#coreValue-10 .coreValue
{left:50%; right:3%; text-align:left;}

#coreValue-2 .valueMeta, 
#coreValue-4 .valueMeta, 
#coreValue-6 .valueMeta, 
#coreValue-8 .valueMeta, 
#coreValue-10 .valueMeta
{left:3%; right:50%; text-align:left; color:rgba(0,0,0,.6); text-shadow:1px 1px 1px rgba(255,255,255,.6);}

#coreValue-2 .description, 
#coreValue-4 .description, 
#coreValue-6 .description, 
#coreValue-8 .description, 
#coreValue-10 .description
{position:absolute; left:0; top:0; right:0; bottom:0; z-index:1; overflow:hidden; font-size:49px; text-shadow:none; color:rgba(255,255,255,.1); text-align:justify;}

#coreValue-1 {background:#39BEEC; color:#ddd;}
#coreValue-2 {background:#6998C9; color:#ddd;}
#coreValue-3 {background:#FF5400; color:#ddd;}
#coreValue-4 {background:#AB05AB; color:#ddd;}
#coreValue-5 {background:#558ABE; color:#ddd;}
#coreValue-6 {background:#889196; color:#ddd;}
#coreValue-7 {background:#53E6B5; color:#ddd;}
#coreValue-8 {background:#7499C6; color:#ddd;}
#coreValue-9 {background:#FF0084; color:#ddd;}
#coreValue-10 {background:#bada55; color:#ddd;}

footer {position:relative; clear:both;}
footer a {position:absolute; left:44%; top:-38px; z-index:4; display:block; width:150px; padding:10px 0; background:rgba(0,0,0,.3); color:#fafafa; text-shadow:1px 1px 0px #000; text-decoration:none; text-align:center; -webkit-border-radius:5px 5px 0 0; letter-spacing:2px; font-family:'Lobster';}

